[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
bcrypt = "*"
django = "*"
django-cors-headers = "*"
django-filter = "*"
djangorestframework = "*"
drf-yasg = "*"
inflection = "*"
markdown = "*"
packaging = "*"
pillow = "*"
python-dotenv = "*"
pytz = "*"
pyyaml = "*"
sqlparse = "*"
tzdata = "*"
uritemplate = "*"
python-decouple = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
